.HomeContainer {
	&-CanvasContainer {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
	}
	
	&-Canvas {
		border-radius: 10px;

		&:last-child {
			position: absolute;
		}
	}
}
